services:
  # -------- CONFIG SERVERS (replSet configReplSet) --------
  config-server-01.femoz.net:
    image: mongo
    container_name: config-server-01
    hostname: config-server-01.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/config-server-01/data/configdb:/data/configdb:Z
    command:
      - mongod
      - --configsvr
      - --replSet
      - replicaSet-config
      - --bind_ip_all
      - --port
      - "27019"

  config-server-02.femoz.net:
    image: mongo
    container_name: config-server-02
    hostname: config-server-02.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/config-server-02/data/configdb:/data/configdb:Z
    command:
      - mongod
      - --configsvr
      - --replSet
      - replicaSet-config
      - --bind_ip_all
      - --port
      - "27019"

  config-server-03.femoz.net:
    image: mongo
    container_name: config-server-03
    hostname: config-server-03.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/config-server-03/data/configdb:/data/configdb:Z
    command:
      - mongod
      - --configsvr
      - --replSet
      - replicaSet-config
      - --bind_ip_all
      - --port
      - "27019"

  # -------- SHARD 01 (replSet shard-01) --------
  shard-01-a.femoz.net:
    image: mongo
    container_name: shard-01-a
    hostname: shard-01-a.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-01-a/data/db:/data/db    
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-01
      - --bind_ip_all
      - --port
      - "27018"

  shard-01-b.femoz.net:
    image: mongo
    container_name: shard-01-b
    hostname: shard-01-b.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-01-b/data/db:/data/db
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-01
      - --bind_ip_all
      - --port
      - "27018"

  shard-01-c.femoz.net:
    image: mongo
    container_name: shard-01-c
    hostname: shard-01-c.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-01-c/data/db:/data/db
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-01
      - --bind_ip_all
      - --port
      - "27018"

  # -------- SHARD 02 (replSet shard2RS) --------

  shard-02-a.femoz.net:
    image: mongo
    container_name: shard-02-a
    hostname: shard-02-a.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-02-a/data/db:/data/db    
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-02
      - --bind_ip_all
      - --port
      - "27018"

  shard-02-b.femoz.net:
    image: mongo
    container_name: shard-02-b
    hostname: shard-02-b.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-02-b/data/db:/data/db
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-02
      - --bind_ip_all
      - --port
      - "27018"

  shard-02-c.femoz.net:
    image: mongo
    container_name: shard-02-c
    hostname: shard-02-c.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-02-c/data/db:/data/db
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-02
      - --bind_ip_all
      - --port
      - "27018"

  # -------- SHARD 03 (replSet shard-03) --------
  shard-03-a.femoz.net:
    image: mongo
    container_name: shard-03-a
    hostname: shard-03-a.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-03-a/data/db:/data/db    
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-03
      - --bind_ip_all
      - --port
      - "27018"

  shard-03-b.femoz.net:
    image: mongo
    container_name: shard-03-b
    hostname: shard-03-b.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-03-b/data/db:/data/db
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-03
      - --bind_ip_all
      - --port
      - "27018"

  shard-03-c.femoz.net:
    image: mongo
    container_name: shard-03-c
    hostname: shard-03-c.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/shard-03-c/data/db:/data/db
    command:
      - mongod 
      - --shardsvr
      - --replSet
      - replicaSet-shard-03
      - --bind_ip_all
      - --port
      - "27018"

  # -------- MONGOS ROUTER --------
  mongos-01.femoz.net:
    image: mongo
    container_name: mongos-01
    hostname: mongos-01.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/mongos-01/data/db:/data/db
    command:
      - mongos
      - --configdb 
      - replicaSet-config/config-server-01.femoz.net:27019,config-server-02.femoz.net:27019,config-server-03.femoz.net:27019
      - --bind_ip_all
      - --port
      - "27017"
    depends_on:
      - config-server-01.femoz.net
      - config-server-02.femoz.net
      - config-server-03.femoz.net

  mongos-02.femoz.net:
    image: mongo
    container_name: mongos-02
    hostname: mongos-02.femoz.net
    restart: unless-stopped
    volumes:
      - ./storage/net/femoz/mongos-01/data/db:/data/db
    command:
      - mongos
      - --configdb 
      - replicaSet-config/config-server-01.femoz.net:27019,config-server-02.femoz.net:27019,config-server-03.femoz.net:27019
      - --bind_ip_all
      - --port
      - "27017"
    depends_on:
      - config-server-01.femoz.net
      - config-server-02.femoz.net
      - config-server-03.femoz.net

  haproxy:
    image: haproxy:2.9
    container_name: haproxy
    hostname: mongodb.femoz.net
    volumes:
      - ./storage/net/femoz/haproxy/usr/local/etc/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "27017:27017"
    depends_on:
      - config-server-01.femoz.net
      - config-server-02.femoz.net
      - config-server-03.femoz.net
      - shard-01-a.femoz.net
      - shard-01-b.femoz.net
      - shard-01-c.femoz.net
      - shard-02-a.femoz.net
      - shard-02-b.femoz.net
      - shard-02-c.femoz.net
      - shard-03-a.femoz.net
      - shard-03-b.femoz.net
      - shard-03-c.femoz.net
      - mongos-01.femoz.net
      - mongos-02.femoz.net
    
    

  cluster-init:
    image: mongo
    container_name: cluster-init
    entrypoint: ["bash", "/scripts/init-cluster.sh"]
    volumes:
      - ./storage/net/femoz/cluster-init/scripts:/scripts:ro
      - ./storage/net/femoz/cluster-init/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro
    depends_on:
      - config-server-01.femoz.net
      - config-server-02.femoz.net
      - config-server-03.femoz.net
      - shard-01-a.femoz.net
      - shard-01-b.femoz.net
      - shard-01-c.femoz.net
      - shard-02-a.femoz.net
      - shard-02-b.femoz.net
      - shard-02-c.femoz.net
      - shard-03-a.femoz.net
      - shard-03-b.femoz.net
      - shard-03-c.femoz.net
      - mongos-01.femoz.net
      - mongos-02.femoz.net
    

# mongodb:
#   image: mongo
#   container_name: net.femoz.mongodb
#   env_file: ".env"
#   restart: unless-stopped
#   volumes:
#     - ./storage/net/femoz/mongodb/data/db:/data/db:Z
#     - ./storage/net/femoz/mongodb/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:Z  

networks: 
  default: 
    name: container-network
    external: true